{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С Новым Годом, 38е!</title>
    <link href="{% static 'css/happy_new_year.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
        <div class="container">
            <div class="row">
                <div class="container-fluid" id="content">
                    <div class="col-3 d-table " id="contentPrediction">
                        <div class="d-table-cell align-middle">


                            Загадай число от 1 до 9!
                            <form action="{% url 'happy_new_year' %}" method="GET">
                                {{ form }}<br/><br/>
                                {% if text %}
                                <div id="prophet">
                                    {{ text }}
                                </div>
                            {% endif %}
                                <button type="submit" value="Submit" class="button"> Получить предсказание!</button>

                            </form>

                        </div>

                    </div>
                     Когда мы в поле штабные курят,<br/>
                    Пусть чатик знает с кем бедокурит,<br/>
                    Встречайте прямо из Тайги - тридцать восьмые мы!
                    <br/><br/>
                    Где лучшие игры? У нас в чате,<br/>
                    Где лучшие штабные? У нас в чате,<br/>
                    Где игроки ждут кубраи? У нас в чате,<br/>
                    Если мы нужны ищите нас в чате<br/>
                    Деньги не нужны в банкнотах,<br/>
                    Мы покупаем игры в енотах<br/>
                    Перекопали все мусоропроводы,<br/>
                    Пока не нашли все коды.<br/>
                    Штабные просто в шоке от нашей игры,<br/>
                    Всегда слепим, когда обходим фонарные столбы!<br/>
                    <br/><br/>
                    Как тебя зовут?<br/>
                    Ты тут одна?<br/>
                    Пойдем курить, нас ждет игра!<br/>
                    О-о Сашка с Эссо за компом,<br/>
                    Они там брутят все тайком,<br/>
                    А знаешь что потом?<br/>
                    Мет и Славян устроят дурдом,<br/>
                    Анютка, гибриды – твой формат!<br/>
                    Артур и Влад с Эстонии спешат!<br/>
                    Егор и Сашка, как обычно на работе<br/>
                    Никита с Горизонтов в обороте!<br/>
                    Лена с Питера пенделя дала<br/>
                    Начинается игра!<br/>
                    <br/>
                    Вижу ты согласна, это было ясно,<br/>
                    Хоть мама говорила, что с 38ми опасно,<br/>
                    Это напрасно не слушай ерунду,<br/>
                    Мы своруем тебя на ночь и отпустим к утру.<br/>

                    Если любишь игру,<br/>
                    Если любишь баян,<br/>
                    Полюбишь и Меридиан,<br/>
                    Не понимая не хера,<br/>
                    Мы не покинем чат пока идет игра!<br/>
                    <br/>
                    Когда мы в поле штабные курят,<br/>
                    Пусть чатик знает с кем бедокурит,<br/>
                    Встречайте прямо из Тайги - тридцать восьмые мы!<br/>
                    <br/>
                    Чатик любит Светлану,<br/>
                    Штабные любят Романа,<br/>
                    Авторы почему-то тоже уважают Светлану,<br/>
                    Соперники любят Романа,<br/>
                    Все любят 38мых!<br/>
                    <br/>
                    На этих выходных!,<br/>
                    А кто нас не любит? <br/>
                    Тот просто нам завидует.<br/>
                    <br/>
                    Шарады, ребусы, кубраи,<br/>
                    Олимпийки на расхват,<br/>
                    Залезли мы во все сараи,<br/>
                    А впереди еще Хлебкомбинат!<br/>
                    <br/>
                    Желающих так много, в составе нету места,<br/>
                    Организуем бота, он прелестен,<br/>
                    Организатор в курсе – штраф нам не уместен,<br/>
                    Как круто, мы заняли первое место! <br/>
                    <br/>
                    Когда мы в поле штабные курят,<br/>
                    Пусть чатик знает с кем бедокурит,<br/>
                    Встречайте прямо из Тайги - тридцать восьмые мы!
                    <br/>

                </div>
            </div>
        </div>

</body>
</html>