{% extends 'backend/base.html' %}
{% load staticfiles %}

{% block title_block %}
    EN статистика 2019
{% endblock %}

{% block content %}
    <div class="container-fluid" id="infoBlock">
        <div class="accordion" id="accordionExample">
            <div class="card text-center">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseOne">
                        <b>Сначала нажми сюда</b>
                    </button>
                </div>
            </div>
            <div id="collapseInfo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <p>Привет, здесь собраны игры, проходившие на домене vbratske.en.cx. Ниже представлены некоторые нюансы
                    сбора статистики:</p>
                <ul>
                    <li>Если игра одиночная, то статистика по игравшим игрокам, командам, оценкам игроков,
                        мониторингу кодов не собиралась</li>
                    <li>К одиночным играм относятся Мокрые войны, Одиночки на движке схватки </li>
                    <li>Повторы одного и того же кода одним и тем же игроков не учитываются</li>
                    <li>За количество команд принимается <b>количество команд в финальной таблице</b></li>
                    <li>За текущий год статистики немного больше, чем за предыдущие</li>
                    <li>Если в строке индекса качества игры в движке стоит прочерк, индекс приравнивается к нулю</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="infoBlock">
        <h2>Общая информация</h2>
        <hr/>
        {% include "backend/main_count_information_template.html" %}
    </div>

    <div class="container-fluid" id="infoBlock">
        {% include "backend/main_top_information_template.html" %}
    </div>

    <div class="container-fluid" id="infoBlock">
        {% include "backend/main_players_information_template.html" %}
    </div>

    <div class="container-fluid" id="infoBlock">
        <h2>Игры</h2>
        <hr/>

    <div class="col-12">
            <!--<div id="1"></div>
            <br/>
            <br/>
            <div id="2"></div>
            <br/>
            <br/> -->
            <div id="3"></div>
            <br/>
            <br/>
            <div id="4"></div>
            <br/>
            <br/>
            <div id="5"></div>
            <br/>
            <br/>
            <div id="6"></div>
            <br/>
            <br/>
            <div id="7"></div>
            <br/>
            <br/>
            <div id="8"></div>
            <!--<script>
                Highcharts.chart('1', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                    },
                    title: {
                        style: { color: 'gold'},
                        text: 'Количество игроков по годам'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                        categories: [
                        {% for entry in total_players_per_year %} '{{ entry.year }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество игроков',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество игроков',
                        data: [{% for entry in total_players_per_year %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold"
                    }]
                });
            </script>

            <script>
                Highcharts.chart('2', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                    },
                    title: {
                        style: { color: 'gold'},
                        text: 'Количество команд по годам'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                        categories: [
                        {% for entry in total_teams_per_year %} '{{ entry.year }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество команд',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество команд',
                        data: [{% for entry in total_teams_per_year %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold"
                    }]
                });
            </script>-->
        </div>

         {% if year == 2020 %}
            <script>
                Highcharts.chart('3', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                    },
                    title: {
                        style: { color: 'gold'},
                        text: 'Количество команд по месяцам(2019)'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            },
                        formatter: function () {
                            let monthNames = ["Январь", "Февраль", "Март", "Апрель", "Май","Июнь","Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь","Декабрь"]
                                return monthNames[this.value-1];
                            }
                        },
                        categories: [
                        {% for entry in total_teams_per_month %} '{{ entry.month }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество команд',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество команд',
                        data: [{% for entry in total_teams_per_month %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold"
                    }]
                });
            </script>

            <script>
                Highcharts.chart('4', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                    },
                    title: {
                        style: { color: 'gold'},
                        text: 'Количество игроков по месяцам(2019)'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            },

                        formatter: function () {
                            let monthNames = ["Январь", "Февраль", "Март", "Апрель", "Май","Июнь","Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь","Декабрь"]
                                return monthNames[this.value-1];
                            }
                        },
                        categories: [
                        {% for entry in total_players_per_month %} '{{ entry.year }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество игроков',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество игроков',
                        data: [{% for entry in total_players_per_month %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold"
                    }]
                });
            </script>

            <script>
                Highcharts.chart('5', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                        type: 'column'
                    },

                    title: {
                        style: { color: 'gold'},
                        text: 'Количество команд по играм'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                        categories: [
                        {% for entry in total_teams_per_game %} '{{ entry.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество команд',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество команд',
                        data: [{% for entry in total_teams_per_game %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold",
                        borderColor: "gold"
                    }]
                });
            </script>

            <script>
                Highcharts.chart('6', {
                    chart: {

                        backgroundColor: {
                            color: [0, 0, 0, 0],
                            stops: [
                                [0, 'rgb(255, 255, 255)'],
                                [1, 'rgb(240, 240, 255)']
                            ]
                        },
                        type: 'column'
                    },

                    title: {
                        style: { color: 'gold'},
                        text: 'Количество энщиков по командным играм'
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        lineColor: 'gold',
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                        categories: [
                        {% for entry in total_players_per_game %} '{{ entry.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                        ],

                    },

                    yAxis: {

                        title: {
                            text: 'Количество игроков',
                            style: {
                                color: 'gold'
                            }
                        },
                        labels: {
                            style: {
                                color: 'gold'
                            }
                        },
                    },
                    series: [{
                        name: 'Количество игроков',
                        data: [{% for entry in total_players_per_game %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                        color: "gold",
                        borderColor: "gold"
                    }]
                });
            </script>
        {% endif %}

        <script>
            Highcharts.chart('7', {
                chart: {

                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'column'
                },

                title: {
                    style: { color: 'gold'},
                    text: 'Самые резонансные на форуме игры (топ-30)'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineColor: 'gold',
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                    categories: [
                    {% for entry in top_forum_resonance_game %} '{{ entry.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                    ],

                },

                yAxis: {

                    title: {
                        text: 'Количество сообщений',
                        style: {
                            color: 'gold'
                        }
                    },
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                },
                series: [{
                    name: 'Количество сообщений',
                    data: [{% for entry in top_forum_resonance_game %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                    color: "gold",
                    borderColor: "gold"
                }]
            });
        </script>
        <script>
            Highcharts.chart('8', {
                chart: {

                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'column'
                },

                title: {
                    style: { color: 'gold'},
                    text: 'Качество командных игр'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineColor: 'gold',
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                    categories: [
                    {% for entry in quality_game_list %} '{{ entry.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                    ],

                },

                yAxis: {
                    tickInterval: 0.2,
                    title: {
                        text: 'Индекс качества игры',
                        style: {
                            color: 'gold'
                        }
                    },
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                },

                series: [{
                    name: 'Индекс качества игры',
                    data: [{% for entry in quality_game_list %} {{ entry.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                    color: "gold",
                    borderColor: "gold",

                }]
            });
        </script>

    </div>



    <div class="container-fluid" id="infoBlock">
        <h2>Авторы</h2>
        <hr/>
        <div id="9"></div>
        <script>
            Highcharts.chart('9', {
                chart: {
                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'pie'
                },
                title: {
                    text: 'Количество игр',
                    style: { color: 'gold'},
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>'
                    }
                }
                },
                series: [{
                    name: 'Процент',
                    colorByPoint: true,
                    data: [{% for entry in authors_and_games %}{name: '{{ entry.name}}', y: {{ entry.value }} }{% if not forloop.last %}, {% endif %}{% endfor %}],
                    dataLabels: {
                        color: 'gold',
                        style: {color: 'gold', fontSize: '12px', textOutline: '1px'}
                    },
                }]
            });

        </script>



        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b>Список авторов</b>
                    </button>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Автор</th>
                                <th scope="col">Игры</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for author, values in authors_dict.items %}
                                <tr>
                                    <td> <b>{{ author }}</b></td>
                                    <td>
                                    {% for v in values %}
                                        <div>
                                            <a href="{{ v.1 }}">
                                                {{ v.0 }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="infoBlock">
        <h2>Команды</h2>
        <hr/>
        <div id="10"></div>
        <div id="11"></div>

        <script>
            Highcharts.chart('10', {
                chart: {

                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'column'
                },
                title: {
                    style: { color: 'gold'},
                    text: 'Количество побед у каждой команды'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineColor: 'gold',
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                    categories: [
                    {% for team in total_win_per_team %} '{{ team.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                    ],

                },

                yAxis: {

                    title: {
                        text: 'Количество побед',
                        style: {
                            color: 'gold'
                        }
                    },
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                },
                series: [{
                    name: 'Количество',
                    data: [{% for team in total_win_per_team %} {{ team.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                    color: "gold",
                    borderColor: "gold"
                }]
            });
        </script>

        <script>
            Highcharts.chart('11', {
                chart: {
                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'bar'
                },
                title: {
                    style: { color: 'gold'},
                    text: 'Топ-20 частоиграющих команд'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineColor: 'gold',
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                    categories: [
                    {% for team in frequency_teams %} '{{ team.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                    ],

                },

                yAxis: {

                    title: {
                        text: 'Количество игр',
                        style: {
                            color: 'gold'
                        }
                    },
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                },

                series: [{
                    name: 'Количество',
                    data: [{% for team in frequency_teams %} {{ team.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                    color: "gold",
                    borderColor: "gold"
                }]
            });
        </script>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFrTeam" aria-expanded="true" aria-controls="collapseOne">
                        <b>Список частоиграющих команд</b>
                    </button>

                </div>


                <div id="collapseFrTeam" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Название команды</th>
                                <th scope="col">Количество игр</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in often_teams_list %}
                            <tr>
                                <td><a href={{ team.1 }}>{{ team.0 }}</a></td>
                                <td>{{ team.2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">

                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseWinners" aria-expanded="true" aria-controls="collapseOne">
                        <b>Список победителей</b>
                    </button>

                </div>


                <div id="collapseWinners" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Название команды</th>
                                <th scope="col">Количество побед</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for winner in winner_list %}
                                <tr>
                                    <td>{{ winner.0 }}</td>
                                    <td>{{ winner.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="infoBlock">
        <h2>Игроки</h2>
        <hr/>
        <div id="12"></div>
        <script>
            Highcharts.chart('12', {
                chart: {
                    backgroundColor: {
                        color: [0, 0, 0, 0],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                        ]
                    },
                    type: 'column'
                },
                title: {
                    style: { color: 'gold'},
                    text: 'Количество сыгранных игр (топ-50)'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    lineColor: 'gold',
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                    categories: [
                    {% for player in frequency_player_list %} '{{ player.name }}' {% if not forloop.last %}, {% endif %} {% endfor %}
                    ],

                },

                yAxis: {

                    title: {
                        text: 'Количество игр',
                        style: {
                            color: 'gold'
                        }
                    },
                    labels: {
                        style: {
                            color: 'gold'
                        }
                    },
                },

                series: [{
                    name: 'Количество игр',
                    data: [{% for player in frequency_player_list %} {{ player.value}} {% if not forloop.last %}, {% endif %} {% endfor %}],
                    color: "gold",
                    borderColor: "gold"
                }]
            });
        </script>
        <br/>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFrequency" aria-expanded="true" aria-controls="collapseOne">
                        <b>Частоиграющие энщики (> 1 игры)</b>
                    </button>
                </div>
            </div>
            <div id="collapseFrequency" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Игрок</th>
                            <th scope="col">Количество игр</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in often_players_table %}
                            <tr>
                                <td>{{ player.0 }}</td>
                                <td>{{ player.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">

                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseRate" aria-expanded="true" aria-controls="collapseOne">
                        <b>Средняя оценка игроков (5+ игр)</b>
                    </button>

                </div>



                  <div id="collapseRate" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Игрок</th>
                          <th scope="col">Средняя оценка</th>
                          <th scope="col">Количество оцененных игр</th>
                        </tr>
                      </thead>
                      <tbody>

                       {% for player in rate_list %}
                        <tr>
                            <td>{{ player.0 }}</td>
                            <td>{{ player.2 }}</td>
                            <td>{{ player.1 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
    </div>

    <div class="container-fluid" id="infoBlock">
        <h2>Коды</h2>
        <hr/>
        <div id="textInfo">
            <b>Всего кодов вбито:</b> {{ codes_count.0 }}<br/>
            <b>Из них правильных: </b> {{ correct_codes.0 }}<br/>
            <b>неправильных:</b> {{ wrong_codes.0 }} <br/>
        </div>
        <!--
        <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">

                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCodeall" aria-expanded="true" aria-controls="collapseOne">
                        <b>10 самых проверяемых игроками локаций за все время на движке</b>
                    </button>

                </div>

                  <div id="collapseCodeall" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Адрес</th>
                          <th scope="col">Количество вбитий</th>
                        </tr>
                      </thead>
                      <tbody>

                       {% for code in wrong_address_all_time %}
                        <tr>
                            <td>{{ code.name }}</td>
                            <td>{{ code.value }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
        </div>

        {% if year == 2020 %}
            <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">

                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCode" aria-expanded="true" aria-controls="collapseOne">
                            <b>10 самых проверяемых игроками локаций за 2020 год</b>
                        </button>

                    </div>

                      <div id="collapseCode" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Адрес</th>
                              <th scope="col">Количество вбитий</th>
                            </tr>
                          </thead>
                          <tbody>

                           {% for code in wrong_address_2019 %}
                            <tr>
                                <td>{{ code.name }}</td>
                                <td>{{ code.value }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  </div>
            </div>
        {% endif %} -->


    </div>
    <script>
        var year = {{ year }}
    </script>
    <script src="{% static 'js/sql_requests.js' %}"></script>
{% endblock %}