{% load staticfiles %}

<div id="count">
    <div class="row">
        <div class="col-4">
            <b>Всего игр сыграно:</b> {{ games_count }} [?]<br/>
            <b>Всего авторов:</b> {{ authors_count }}<br/>
        </div>
        <div class="col-4">
            <b>Всего команд:</b> {{ teams_count }}<br/>
            <b>Всего игроков:</b> {{ players_count }}<br/>
        </div>
        <div class="col-4">
            <b>Кодов вбито: </b>{{ codes_count.0 }}<br/>
        </div>
    </div>
</div>