{% load staticfiles %}

<div id="oftenPlayers">
    {{ often_player_graph|safe }}
    <br/>
    <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">

                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFrequency" aria-expanded="true" aria-controls="collapseOne">
                        <b>Список частоиграющих игроков</b>
                    </button>

                </div>


                  <div id="collapseFrequency" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <table class="table">
                      <thead>
                        <tr>

                          <th scope="col">Игрок</th>
                          <th scope="col">Количество игр</th>

                        </tr>
                      </thead>
                      <tbody>

                       {% for player in often_players_table %}
                        <tr>
                            <td>{{ player.0 }}</td>
                            <td>{{ player.1 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
</div>