.webp body{
    background-image: url('/static/images/background.webp');
    background-repeat: none;
    background-attachment: fixed;
}

.no-webp body{
    background-image: url('/static/images/background.jpg');
    background-repeat: none;
    background-attachment: fixed;
}

#navBar, .nav{
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-pills .nav-link.active{
    background-color: rgba(0, 0, 0, 0);
    color: gold;
}

.nav-link{
    color: gold;
    font-weight: bold;
}

.nav-link:hover{
    color: gold;
    font-weight: bold;
    text-decoration: underline;
}

.btn-link, a, .btn-link:hover, a:hover{
    padding: 0px, 0px, 0px, 0px;
    color: gold;
}

.nav-link.active{
    color: gold;
    font-weight: bold;
    text-decoration: underline;
}

#infoBlock{
    background-color: rgba(0, 0, 0, 0.9);
    color: gold;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px 25px 20px 25px;
}

hr {
    border: 0.5px solid gold;
    width: 500px;
}

h2{
    text-align: center;
}

#stat{
    padding-left: 25px;
}

.card, #headingOne{
    background-color: rgba(0, 0, 0, 0);
}

#headingOne{
    padding-left: 0px;
}

tr, th, td{
    border-color: gold;
}